/week-5 data
.env
notebooks/week-5 data/scrapped TG data
notebooks/scraping_session.session
notebooks/labeled_data.csv
notebooks/labeled_data.txt
notebooks/labeled_ner_data.csv
notebooks/trained_ner_model